Repository captainoggy/chat-app, changes with the labels that .github/labeler.yml gives for each.
All labels: chat, migrations-tooling

.github/labeler.yml:

chat:
  - changed-files:
      - any-glob-to-any-file: plugins/chat/**/*

migrations-tooling:
  - changed-files:
      - any-glob-to-any-file:
        - migrations/**/*
        - script/bulk_import/**/*
        - script/import_scripts/**/*

DEV: remove old keyboard modal CSS (#25246)
  app/assets/stylesheets/common/components/keyboard_shortcuts.scss
Labels: none

UX: cleaning up some invite page styles (#25247)
  app/assets/javascripts/discourse/app/templates/account-created/index.hbs
  app/assets/stylesheets/common/base/activation.scss
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/common/login/invite-signup.scss
  app/assets/stylesheets/desktop/invite-signup.scss
  app/assets/stylesheets/mobile/invite-signup.scss
Labels: none

DEV: remove `:has` selector from chat settings (#25248)
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-settings.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-settings.scss
Labels: chat

UX: adjust onebox styles for chat, title line-height (#25249)
  app/assets/stylesheets/common/base/onebox.scss
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
Labels: chat

Build(deps-dev): Bump parser from 3.3.0.2 to 3.3.0.3 (#25254)
  Gemfile.lock
Labels: none

Build(deps-dev): Bump shoulda-matchers from `d611911` to `367500d` (#25255)
  Gemfile.lock
Labels: none

Build(deps): Bump bootsnap from 1.17.0 to 1.17.1 (#25256)
  Gemfile.lock
Labels: none

Build(deps-dev): Bump minitest from 5.20.0 to 5.21.1 (#25257)
  Gemfile.lock
Labels: none

FIX: Enforce proper max for clean_orphan_uploads_grace_period_hours (#25235)
  config/site_settings.yml
  db/migrate/20240112021335_set_max_clean_orphan_uploads_grace_period_hours.rb
  script/import_scripts/base.rb
Labels: migrations-tooling

UX: Chat composer dropdown styling mobile (#25244)
  plugins/chat/assets/javascripts/discourse/components/chat-composer-dropdown.gjs
  plugins/chat/assets/stylesheets/mobile/chat-composer-dropdown.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
Labels: chat

FIX: use getter and setter for computed properties (#25259)
  app/assets/javascripts/admin/addon/mixins/period-computation.js
Labels: none

DEV: Convert min_trust_level_to_tag_topics to groups (#25258)
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240112073149_fill_tag_topic_allowed_groups_based_on_deprecated_settings.rb
  lib/guardian/tag_guardian.rb
  lib/site_settings/deprecated_settings.rb
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  spec/integration/category_tag_spec.rb
  spec/jobs/export_user_archive_spec.rb
  spec/lib/discourse_tagging_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/lib/search_spec.rb
  spec/lib/topic_creator_spec.rb
  spec/lib/topics_bulk_action_spec.rb
  spec/models/post_mover_spec.rb
  spec/models/reviewable_queued_post_spec.rb
  spec/models/tag_spec.rb
  spec/models/tag_user_spec.rb
  spec/models/topic_embed_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/services/post_alerter_spec.rb
Labels: chat

DEV: update .gitignore file (#25261)
  .gitignore
Labels: none

UX: show the SSO options when creating an account on mobile (#25260)
  app/assets/javascripts/discourse/app/components/modal/create-account.hbs
  app/assets/stylesheets/mobile/login-modal.scss
Labels: none

Revert "DEV: Convert min_trust_level_to_tag_topics to groups (#25258)" (#25262)
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240112073149_fill_tag_topic_allowed_groups_based_on_deprecated_settings.rb
  lib/guardian/tag_guardian.rb
  lib/site_settings/deprecated_settings.rb
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  spec/integration/category_tag_spec.rb
  spec/jobs/export_user_archive_spec.rb
  spec/lib/discourse_tagging_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/lib/search_spec.rb
  spec/lib/topic_creator_spec.rb
  spec/lib/topics_bulk_action_spec.rb
  spec/models/post_mover_spec.rb
  spec/models/reviewable_queued_post_spec.rb
  spec/models/tag_spec.rb
  spec/models/tag_user_spec.rb
  spec/models/topic_embed_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/services/post_alerter_spec.rb
Labels: chat

FIX: Trigger search app event being triggered multiple times (#25250)
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
Labels: none

FEATURE: add username header to global-rate-limited responses (#25265)
  lib/auth/default_current_user_provider.rb
  lib/middleware/request_tracker.rb
Labels: none

FIX: Update global rate limiter keys/messages to clarify user vs ip (#25264)
  lib/middleware/request_tracker.rb
  spec/lib/middleware/request_tracker_spec.rb
Labels: none

Build(deps-dev): Bump parser from 3.3.0.3 to 3.3.0.4 (#25268)
  Gemfile.lock
Labels: none

Build(deps-dev): Bump rubocop from 1.59.0 to 1.60.0 (#25267)
  Gemfile.lock
Labels: none

Build(deps): Bump stackprof from 0.2.25 to 0.2.26 (#25269)
  Gemfile.lock
Labels: none

DEV: Compile theme migrations javascript files when running theme qunit (#25219)
  app/models/theme.rb
  lib/theme_javascript_compiler.rb
  spec/models/theme_spec.rb
  spec/requests/theme_javascripts_controller_spec.rb
Labels: none

DEV: Avoid duplicating constant between client and server (#25179)
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/lib/constants.js
  lib/tasks/javascript.rake
Labels: none

DEV: Fix flaky table builder system spec (#25272)
  app/assets/javascripts/discourse/app/components/modal/spreadsheet-editor.gjs
Labels: none

FIX: Use category hashtag instead of link in guidelines_topic.body (#25253)
  config/locales/server.en.yml
Labels: none

FIX: correctly support safe-area-inset-bottom in footer (#25276)
  plugins/chat/assets/stylesheets/mobile/chat-footer.scss
Labels: chat

DEV: Allow rebakes to generate optimized images at the same time
  app/models/optimized_image.rb
  lib/tasks/import.rake
  lib/tasks/posts.rake
  script/bulk_import/uploads_importer.rb
Labels: migrations-tooling

REFACTOR: Reuse `Discourse.store` instance
  app/models/optimized_image.rb
Labels: none

PERF: Skip validations when hotlinked images are replaced in posts
  app/jobs/regular/update_hotlinked_raw.rb
Labels: none
